/* .ekart--product-feature{
    background-color: #28282b;
    padding: 20px 10px;
    display: flex;
}

.ekart--product-feature-heading{
    width: 320px;
    margin: 10px 10px;
    padding: 20px 30px;
    color: #fff;
} */

.ekart--product-feature-item{
    width: 270px;
    margin: 10px 10px;
    padding: 20px 30px;
    background-color: #fff;
}

.title .desscription .call-to-action{
    margin: 10px 10px;
    color: black;
}

.call-to-action{
    background-color: #28282b;
    color: #fff;
    width: 100;
    padding: 10px 0px;
}